body {
    font-family: 'Arimo', sans-serif;
    font-size: 10px;
    color: #111;
    margin: 0;
  }
  .container{
    padding-top: 5em;
  }
  
  .chart-container{
    box-sizing: border-box;
  }
 
  .graphDiv{
    margin: auto;
    width: 65% !important;
    max-height: 3000px;
  }
  
  #person1graph{display: none ;}
  #person2graph{display: none ;	}


  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#333333;
    color: white;
    text-align: center;
    font-size: 15px;
 }
  .footer a{
      text-decoration: none;
      color: white;
  }
  .footer a:hover{
      color: orangered;
  }

  @media screen and (max-width: 750px) {
    .container{
        padding-top: 1em;
      }
    .footer {
        height: 75px;
        font-size: 10px;
     }
  }
  
  @media screen and (max-width: 430px) {
    .graphDiv{
        width: 75% !important;
        min-height: 225px;
    }
  }